[*.cs]
# I'm ok with underscores for tests
dotnet_diagnostic.CA1707.severity = none
# Ignore The event 'ClassWithABunchOfKnownInterfaces.PropertyChanged' is never used
dotnet_diagnostic.CS0067.severity = none